<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="cont">
  <div class="row">
    <div class="col-lg-2">
      <div class="card bg-light mb-2" style="max-width: 20rem;">
        <div class="card-header">Data</div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Playlist
              <span class="badge badge-primary badge-pill">{{nbr_playlist}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Track
              <span class="badge badge-primary badge-pill">{{nbr_morceau}}</span>
            </li>
          </ul>
        </div>
      </div>


    </div>
    <div class="col-lg-8">

      <form (ngSubmit)="onAddSubmit()" class="form-inline my-4 my-lg-0">
        <input class="form-control mr-sm-3" type="text" [(ngModel)]="name" name="name" width="200px"
          placeholder="Ex : my new playlist">
        <button type="submit" class="btn btn-primary mybtn">Add</button>
      </form>
      <hr>

      <div class="scrollbar scrollbar-danger">
        <div *ngIf="show" id="loading">
          <div id="loading-center">
            <div id="loading-center-absolute">
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
              <div class="object"></div>
            </div>

          </div>
        </div>
        <table *ngIf="!show" class="table table-hover">
          <thead class="thead-reverse">

            <tr>
              <th>#</th>
              <th>Play</th>
              <th>Name</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let playlist of playlists; let i = index">
              <td>{{i + 1}}</td>
              <td><a class="btn btn-ink" (click)="onPlay(playlist._id)"><i class="fa fa-play"></i></a></td>
              <td>{{playlist.name}}</td>
              <td>
                <a class="btn btn-ink" (click)="onNavigate(playlist._id)"><i class="fa fa-edit"
                    style="font-size:20px;"></i></a>
              </td>
              <td>
                <a class="btn btn-ink" (click)="onDeleteSubmit(playlist._id)"><i class="fa fa-trash-o"
                    style="font-size:20px;color:red"></i></a>
              </td>
            </tr>


          </tbody>
        </table>


      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>